<ul>
<%for (var result in results){%>
  <h1><%=results[result].title%></h1>        
  <h3>by <%=results[result].author%></h3>
  <p><%=results[result].content%></p>     
  <b>------------------</b>      
  <%}%>
</ul>